*{
    margin: 0;
    box-sizing: border-box;
}


.page
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover
{
    background-color: rgb(199, 140, 166);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.title
{
    color: #fff;
}

.alt-login
{
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div
{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.google
{
    background-image: url("../icon/google.png");
}

.facebook
{
    background-image: url("../icon/facebook.png");
}

input 
{
    border: none;
    background-color: rgb(246, 246, 246);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;

}

input :focus
{
    outline-color: #ffffff;
}

.Login-btn
{
    width: 40%;
    height: 3em;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.Login-btn :hover
{
    transform:scale(1.25) ;
}

.text
{
    position: relative;
    bottom: -2em;
}

.hide
{
   position: absolute;
   transform: scale(0);
   text-align: center;
}

.login-popup
{
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #c6209a;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}